body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;

  h3 {
    font-size: 20px;
  }

  .head-side {
    width: 75%;
    margin: 0;
    margin-top: 5%;
    padding: 0;
    width: 92%;
    // margin-left: 3%;
    padding-left: 15px;
    .head-support {
      .title-faq {
        font-size: 30px;
        margin-bottom: 13px;
      }
      p {
        padding-left: 0 !important;
        margin-bottom: 50px;
        a {
          border-bottom: 1px solid #09a073;
        }
      }
    }

    .breadcrumb {
      padding: 27px 0 0;
      list-style: none;
      background-color: white;

      li {
        display: inline;
        color: rgb(110, 109, 109);
        font-size: 12px;

        a {
          text-decoration: none;
          color: rgb(110, 109, 109);
        }
      }

      li + li:before {
        padding: 8px;
        color: rgb(110, 109, 109);
        content: ">";
      }
    }

    p {
      font-size: 12px;
      color: rgb(110, 109, 109);

      a {
        color: #09a073;
      }
    }
  }

  .container-faq_main {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 3%;
    padding: 0 !important;
    margin-left: 25px;
    width: 100%;

    .help {
      // margin-left: 0 i !important;
      // display: flex;
      display: block;
      // flex-direction: column;
      width: 270px;
      height: 180px;
      padding: 41px 30px 32px;
      background-color: #fafafa;
      z-index: 10;
    }
    .help-title {
      text-align: center;
      // border-bottom: 3px solid black;
      margin-bottom: 10%;
      h3 {
        margin-bottom: 8%;
      }
    }

    .help-icons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 4%;

      .message_us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .mess-icon {
          display: block;
          margin: 0 auto 10px auto;
          width: 22px;
          height: 22px;
          color: #1e1e1e;
          fill: #1e1e1e;
          cursor: pointer;
        }

        .msg {
          font-size: 12px;
          color: black;
          font-weight: 400;
          border-bottom: 1px solid black;
        }
      }

      .contact_us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .mail-icon {
          display: block;
          margin: 0 auto 10px auto;
          width: 22px;
          height: 22px;
          color: #1e1e1e;
          fill: #1e1e1e;
          cursor: pointer;
        }

        .cnt {
          font-size: 12px;
          color: black;
          font-weight: 400;
          border-bottom: 1px solid black;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    .openbtn {
      display: none;

      position: relative;
      margin: 0 10px;
      padding: 0;
      border: none;
      background-color: white;
      cursor: pointer;
      p {
        display: block;
        text-align: center;
        // height: 20%;
        font-weight: bold;
        margin-top: 20%;
      }
      img {
        border: 0.5px solid black;
        padding: 10px;
        margin: 10px;
      }
    }

    .questions {
      // border: 1px solid black;
      width: 90%;
      margin-left: 5%;
      margin-top: 3%;
      margin-left: 3%;
      width: 67%;

      .pre-sale-questions {
        .pre-sales-questions_title {
          margin-left: 6px;
          margin-right: 0;

          h3 {
            margin-bottom: 15px;
          }
        }

        .faq-cont {
          width: 100%;
          margin-bottom: 70px;
          padding: 0;

          .card {
            background-color: white;
            border: none;
            padding: 0;
            margin: 0;
            font-size: 12px;
            color: rgb(128, 126, 126);

            .card-header {
              background-color: white;
              width: 100%;
              padding-left: 0;
              border: none;

              h2 {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin: 0;

                .btn {
                  width: 100%;
                  margin-right: 0;
                  display: flex;
                  flex-direction: row;
                  cursor: pointer;
                  align-items: stretch;
                  // margin-bottom: 0.8%;
                  margin-left: 5px;
                  align-items: center;
                  padding: 0;
                  background-color: white;
                  text-decoration: none;
                  color: #1e1f20;
                  font-size: 14px;
                  // border: 1px solid red;

                  p {
                    width: 100%;
                    text-align: left;
                  }
                  .mark_1,
                  .mark_2 {
                    height: 30%;
                    padding-right: 15px;
                    margin: 0;
                    background-color: white;
                    display: none;

                    p {
                      height: 22px;
                      width: 70px;
                      // margin-top: 8px;
                      padding: 2px;
                      border-radius: 2px;
                      background-color: rgb(18, 160, 160);
                      color: white;
                      font-weight: 500;
                      font-size: 12px;
                      text-transform: uppercase;
                      text-align: center;
                      // padding-right: 5px;
                    }
                  }

                  .plus-minus-toggle_1,
                  .plus-minus-toggle_2 {
                    text-align: right;
                    cursor: pointer;
                    height: 21px;
                    position: relative;
                    width: 0.3%;
                    &:before,
                    &:after {
                      background: rgb(112, 110, 110);
                      content: "";
                      height: 2px;
                      left: 0;
                      position: absolute;
                      top: 0;
                      width: 16px;
                      transition: transform 300ms ease;
                    }
                    &:after {
                      transform-origin: center;
                    }
                    &.plus {
                      &:after {
                        transform: rotate(-90deg);
                      }
                    }
                  }
                }
              }
            }

            .card-body {
              border-left: none;
              padding-left: 6px;
            }
          }
        }
      }

      .theme-questions {
        margin-bottom: 100px;

        .theme-questions_title {
          margin-left: 6px;
          margin-right: 0;

          h3 {
            margin-bottom: 15px;
          }
        }

        .container {
          background-color: white;
          width: 100%;
          padding-left: 0;
          border: none;

          .panel {
            background-color: white;
            border: none;
            padding: 0;
            margin: 0;
            font-size: 12px;
            color: rgb(128, 126, 126);

            .panel-heading {
              background-color: white;
              width: 100%;
              padding-left: 0;
              border: none;

              h4 {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin: 0;
                // border: 1px solid red;

                .btn-coll {
                  width: 100%;
                  height: 50px;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  margin: 15px 0 5px 5px;
                  align-items: center;
                  padding: 0;
                  background-color: white;
                  text-decoration: none;
                  color: #343a40;
                  font-size: 14px;
                  vertical-align: middle;
                  // border: 1px solid red;

                  .paragraph {
                    width: 100%;
                    // height: 100%;
                    text-align: left;
                    vertical-align: middle;
                    font-weight: 400;
                    line-height: 2;
                    // border: 1px solid rgb(88, 88, 197);

                    .space {
                      height: 25px;
                    }
                  }
                }

                .mark_3,
                .mark_4,
                .mark_5,
                .mark_6,
                .mark_7,
                .mark_8,
                .mark_9,
                .mark_10,
                .mark_11,
                .mark_12,
                .mark_13,
                .mark_14,
                .mark_15,
                .mark_16 {
                  height: 100%;
                  padding-right: 15px;
                  padding-top: 12px;
                  background-color: white;
                  display: none;
                  vertical-align: middle;

                  p {
                    height: 22px;
                    width: 70px;
                    margin: 3px 0;
                    padding: 5px 2px;
                    border-radius: 2px;
                    background-color: rgb(18, 160, 160);
                    color: white;
                    font-weight: 500;
                    font-size: 12px;
                    text-transform: uppercase;
                    text-align: center;
                    // padding-right: 5px;
                  }
                }

                .plus-minus-toggle_3,
                .plus-minus-toggle_4,
                .plus-minus-toggle_5,
                .plus-minus-toggle_6,
                .plus-minus-toggle_7,
                .plus-minus-toggle_8,
                .plus-minus-toggle_9,
                .plus-minus-toggle_10,
                .plus-minus-toggle_11,
                .plus-minus-toggle_12,
                .plus-minus-toggle_13,
                .plus-minus-toggle_14,
                .plus-minus-toggle_15,
                .plus-minus-toggle_16,
                .plus-minus-toggle_17 {
                  text-align: right;
                  cursor: pointer;
                  height: 21px;
                  position: relative;
                  width: 0.3%;
                  &:before,
                  &:after {
                    background: rgb(112, 110, 110);
                    content: "";
                    height: 2px;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 16px;
                    transition: transform 500ms ease;
                  }
                  &:after {
                    transform-origin: center;
                  }

                  &.plus {
                    &:after {
                      transform: rotate(-90deg);
                    }
                  }
                }
              }
            }
          }

          .panel-body {
            border-left: none;
            padding-left: 6px;
            margin-bottom: 7px;

            p {
              margin: 22px 0 43px 0;
              line-height: 1.8;

              a {
                text-decoration: none;
                color: black;

                &:hover {
                  color: rgb(110, 187, 187);
                }
              }

              span {
                margin-top: 30px;
                // border: 1px solid red;
              }
            }

            span {
              margin: 20px 0;
            }
          }
        }
      }

      .ps {
        text-align: right;
        margin-top: 35px;
        color: grey;
        // padding: 0;
      }
    }

    .sidepanel {
      width: 0;
      height: 150vh;
      position: fixed;
      margin-left: 0;
      background-color: white;
      overflow-x: hidden;
      transition: 0.3s;
      padding-top: 60px;
      .text1 {
        text-align: center;
        .close-icon {
          opacity: 0.6;
          font-weight: 500;
          padding: 10px 25px 40px;
          text-transform: uppercase;
          color: #1e1e1e;
          font-family: Poppins, sans-serif;
          background-color: #f5f5f5;
          text-align: right;
          .closebtn {
            float: right;
            color: grey;
            font-size: 14px;
            text-decoration: none;
          }
        }
      }
    }
  }
  .underline-bold {
    width: 100%;
    border-bottom: 3px solid black;
  }
  .underline-tiny {
    border-bottom: 1px solid rgb(156, 156, 156);
    width: 100%;
    margin: 0 0 0 5px;
  }
  .underline-help {
    border-bottom: 3px solid black;
    width: 270px;
    margin-left: 10%;
  }
}

@media screen and (max-width: 1025px) {
  .head-side {
    width: 92%;
    margin-left: 1.5%;
  }
  .title-faq {
    padding: 0%;
  }

  .help-icons {
    display: none;
  }

  #faqHelp {
    display: none;
  }
  .container-faq_main {
    margin-left: 0;
    width: 90%;
    flex-direction: column;
  }
  #openbtn {
    // display: block
    display: inline-block;
    display: flex;
    flex-direction: row;
    p {
      align-items: center;

      padding-left: 10px;
    }
  }

  .questions {
    margin: 0 !important;
    width: 100%;
    .pre-sale-questions {
      width: 100%;
      .faq-cont {
        margin-bottom: 40px;
        .card {
          width: 100%;
          .card-header {
            .btn {
              p {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .theme-questions {
      .theme-questions_title {
        padding: 0;
        width: 100%;
      }

      .container {
        padding: 0;
        width: 100%;
        padding: 20px 0;
        vertical-align: middle;
        .panel {
          .panel-heading {
            width: 95%;
            width: 100%;
            h4 {
              width: 100%;
              .styling {
                margin-bottom: 30px;
                height: 250px;
              }
              .btn-coll {
                align-items: left;
                justify-content: left;
                margin: 0;
                padding: 0;
                height: 60px;
                vertical-align: middle;
                .paragraph {
                  width: 100%;
                  line-height: 1.8;
                  margin-left: 5px;
                  margin-right: 0;
                  .space {
                    height: 30px;
                  }
                }
              }
              .mark_3,
              .mark_4,
              .mark_5,
              .mark_6,
              .mark_7,
              .mark_8,
              .mark_9,
              .mark_10,
              .mark_11,
              .mark_12,
              .mark_13,
              .mark_14,
              .mark_15,
              .mark_16 {
                margin-top: 25px;
              }
              .plus-minus-toggle_3,
              .plus-minus-toggle_4,
              .plus-minus-toggle_5,
              .plus-minus-toggle_6,
              .plus-minus-toggle_7,
              .plus-minus-toggle_8,
              .plus-minus-toggle_9,
              .plus-minus-toggle_10,
              .plus-minus-toggle_11,
              .plus-minus-toggle_12,
              .plus-minus-toggle_13,
              .plus-minus-toggle_14,
              .plus-minus-toggle_15,
              .plus-minus-toggle_16,
              .plus-minus-toggle_17 {
                margin-top: 25px;
                margin-left: 0;
              }
            }
          }
        }

        .panel-body {
          p {
            line-height: 2;
            padding-top: 30px;
          }
        }
      }
    }
  }
}
